@tailwind base;
@tailwind components;
@tailwind utilities;

.swssabsolute {
    position: absolute;
}

.swssrelative {
    position: relative;
}
.textxxs{
    font-size: 10px;
    font-weight: bold;
}
